body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #F0F0F0; }
  body a {
    color: blue; }
  body .btn-igresar:hover,
  body .btn-igresar {
    background-color: #eb5757;
    color: white;
    width: 20em;
    height: 2.5em;
    border: none;
    border-radius: 4px; }
  body .btn-cancelar:active,
  body .btn-cancelar:hover,
  body .btn-cancelar {
    background-color: #006699 !important;
    color: white !important;
    min-width: 100px !important;
    border: none !important;
    padding: 0.3em; }
  body .btn-aceptar:active,
  body .btn-aceptar:hover,
  body .btn-aceptar {
    background-color: #2d9cdb !important;
    color: white !important;
    min-width: 100px !important;
    border: none !important;
    padding: 0.3em; }
  body .btn-nuevo:active,
  body .btn-nuevo:hover,
  body .btn-nuevo {
    background-color: #5fcbf7;
    color: white;
    width: 15em;
    border-radius: 0.5em;
    border: none; }
  body .textLoggin {
    width: 20em;
    text-align: center;
    margin-bottom: 0.25em;
    margin-top: 0.25em; }
  body .contOlvidePass {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: right; }
    body .contOlvidePass a {
      font-size: 12px;
      color: #4459D4;
      padding-top: 0.5em;
      padding-bottom: 0.5em; }
  body .botoneraFiltros .accionesDer {
    text-align: right; }
    body .botoneraFiltros .accionesDer div {
      display: inline-block; }
      body .botoneraFiltros .accionesDer div button {
        background-color: #140033;
        color: white;
        width: 6.5em;
        height: 2.3em; }
      body .botoneraFiltros .accionesDer div ul {
        margin-left: -4.4em; }
        body .botoneraFiltros .accionesDer div ul li {
          width: 100%;
          background-color: #fafafa; }
          body .botoneraFiltros .accionesDer div ul li a:hover {
            background-color: #27A5DD; }
  body .analisis .angucomplete-holder input {
    width: 20em; }
  body .analisis .angucomplete-holder .angucomplete-dropdown {
    width: 20em; }
  body .errorBorder {
    border-color: red; }
  body .tablaKendo {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  body input[type=password]:focus,
  body input[type=email]:focus,
  body input[type=text]:focus,
  body input[type=number]:focus {
    -webkit-box-shadow: 0 0 100px 1000px #ffffff inset;
    -moz-box-shadow: 0 0 100px 1000px #ffffff inset;
    box-shadow: 0 0 100px 1000px #ffffff inset; }
  body input:-webkit-autofill,
  body input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 100px 1000px #ffffff inset; }

h4 {
  font-weight: bold; }

ul {
  list-style: none;
  padding: 0px; }
  ul li {
    display: inline-block; }

select {
  max-width: 300px; }

table {
  width: 100%; }

.regresarButton {
  position: absolute;
  left: 1em;
  cursor: pointer; }

.icon_table {
  font-size: 25px;
  cursor: pointer; }

.btnAgregar {
  position: relative;
  max-width: 1160px; }
  .btnAgregar button {
    position: absolute;
    right: -45px;
    top: -27px;
    width: 35px;
    height: 35px; }

.k-menu .k-state-default .k-state-border-down {
  background-color: #140033;
  border-radius: 5px; }

.btnRegresar {
  position: relative;
  max-width: 1160px; }
  .btnRegresar button {
    position: absolute;
    left: 30px;
    top: -42px; }

.navbar.navbar-default {
  border: none; }

.botonMenu {
  display: inline-block;
  background-color: #007bb8;
  color: white; }

.botonesFiltro {
  border-top: solid 1px gray;
  padding-top: 1em;
  border-bottom: solid 1px gray;
  margin-bottom: 1em;
  text-align: left; }
  .botonesFiltro select {
    width: 200px; }
  .botonesFiltro ul {
    list-style: none; }
    .botonesFiltro ul li {
      display: inline-block;
      font-weight: none; }

input[type=file] {
  margin: 0 auto; }

.comboBox {
  height: 2em;
  border-radius: 5px;
  width: 12em; }

.dtpicker {
  text-align: left; }

.error {
  background-color: red; }

.errorText {
  color: red; }

.filterable {
  margin-top: 15px; }
  .filterable .panel-heading .pull-right {
    margin-top: -20px; }
  .filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto; }

#botones_grilla {
  /*background-color: $back_ground_secundary;*/
  padding: 0.5em 0em;
  position: relative; }

#despacho_creacion #botones_grilla {
  /*background-color: $back_ground_secundary;*/
  padding: 0.5em 0em;
  position: relative; }
#despacho_creacion #tabla .mesaje_error {
  background-color: #b0e6fb;
  padding: 0;
  margin: 0;
  color: red; }

.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #eb5757; }

.filterable .filters input[disabled]::-moz-placeholder {
  color: #eb5757; }

.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #eb5757; }

.filtrosGrilla {
  margin-top: 25px;
  margin-bottom: 8px;
  padding-top: 8px; }

.form-group div {
  text-align: left; }

.k-tabstrip-wrapper {
  background-color: #F0F0F0; }

.loggin-logo {
  width: 200px;
  margin-bottom: 20px; }

.number {
  max-width: 150px; }

#contenedorChart {
  text-align: center;
  margin: 0px auto;
  width: 95%; }
  #contenedorChart div {
    display: inline-block;
    width: 49%; }

#contenedorCharts {
  text-align: center;
  margin: 0px auto;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 40px; }

.selectChart {
  margin-top: 10px;
  margin-bottom: 20px; }

.centrar {
  margin: 0 auto;
  text-align: center; }

.centrarDiv {
  margin: 0 auto;
  width: 600px; }

.formTitulo {
  width: 47%;
  text-align: right; }
  .formTitulo label {
    width: 180px;
    position: relative; }
    .formTitulo label span {
      max-width: 180px;
      position: absolute;
      left: 0px;
      top: 0px;
      text-align: left;
      font-weight: 700; }

.formAncho .formTitulo {
  width: 30%; }
.formAncho .formControl {
  width: 69%; }
  .formAncho .formControl input {
    width: 90%; }

.formAncho .formTitulo {
  width: 30%; }

.formTitulo2 {
  width: 30%;
  text-align: right; }
  .formTitulo2 label {
    width: 180px;
    position: relative; }
    .formTitulo2 label span {
      max-width: 180px;
      position: absolute;
      left: 0px;
      top: 0px;
      margin-top: -10px;
      text-align: left;
      font-weight: 700; }

.formControl {
  width: 49%; }
  .formControl p {
    margin-top: 10px; }
  .formControl a {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #eb5757; }

.formControl2 {
  width: 69%; }

#gauge-container {
  width: 100%;
  text-align: center;
  margin: 0 auto 30px auto; }
  #gauge-container span {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto; }
  #gauge-container #gauge-container .k-slider {
    margin-top: -15px;
    width: 140px; }

.tituloCuenta > p {
  margin: 0px;
  margin-top: 1.5em; }

.slider {
  width: 200px;
  margin: 0px auto; }

.filaEliminando1 {
  background-color: #FFCC99;
  color: #FF693B;
  font-weight: bold; }
  .filaEliminando1 td button {
    background: #FF693B;
    color: white; }
    .filaEliminando1 td button:hover {
      background: #FF693B;
      color: white; }

.filaEliminando2 {
  background-color: #FF9999;
  color: red;
  font-weight: bold; }
  .filaEliminando2 td button {
    background: red;
    color: white; }
    .filaEliminando2 td button:hover {
      background: red;
      color: white; }

.panel {
  border: 1px solid #F0F0F0;
  padding-bottom: 10px;
  border-radius: 0.7em;
  background-color: transparent; }

.panelPopUp {
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }

.ulPanel {
  padding-left: 0px; }
  .ulPanel li {
    width: 90%; }
    .ulPanel li .labelIzquierda {
      width: 52%;
      text-align: left; }
    .ulPanel li .labelDerecha {
      width: 40%;
      text-align: right; }

.popUpContent {
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

.popUpContentInfo {
  border-radius: 15px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

.popUpFooter {
  border-top: solid #F0F0F0 1px;
  padding-top: 5px;
  text-align: right;
  padding-right: 50px; }

.popUpHeader {
  background-color: #007bb8;
  color: white;
  border-radius: 10px 10px 0px 0px;
  /*height: 40px;*/ }

.popUpTitle {
  font-weight: normal;
  margin-top: -9px; }

.waiting-box {
  display: block;
  position: fixed;
  /* fixed position so it doesn't scroll */
  z-index: 9999;
  /* on top of everything else */
  width: 250px;
  margin-left: -125px;
  /* horizontally centered */
  left: 50%;
  top: 10px;
  /* displayed on the top of the page, just like Gmail's yellow info-box */
  height: 60px;
  padding: 10px;
  background-color: #f3e9b5;
  border-radius: 4px; }

#filtros_pedidos {
  /*background-color: $back_ground_secundary;*/
  padding: 0.5em 0em; }
  #filtros_pedidos div {
    width: 18%;
    display: inline-block; }
    #filtros_pedidos div span {
      color: #1a76ff; }
    #filtros_pedidos div select {
      width: 100%; }

.k-progress-status {
  font-size: 0px; }

@media (max-width: 450px) {
  .tituloPagina {
    font-size: 30px; }

  body .textLoggin {
    width: 12em;
    text-align: center;
    margin-bottom: 0.25em;
    margin-top: 0.25em; }
  body .btn-igresar {
    background-color: #eb5757;
    color: white;
    width: 12em;
    height: 2.5em; }
  body .contOlvidePass {
    width: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: right; }
  body .contOlvidePass a {
    font-size: 12px;
    color: #4459D4;
    padding-top: 0.5em;
    padding-bottom: 0.5em; } }
/* CSS DE LA PAGINA PRINCIPAL */
.contenedorPrincipal {
  background: #F0F0F0; }

.seccionMain {
  margin-top: 30px;
  border-radius: 8px;
  background: white; }

.seccionMitadIzquierda {
  /* margin: 0 2.8% 0 0; */
  display: inline-block;
  margin-top: 30px;
  border-radius: 8px;
  background: white; }

.seccionMitadDerecha {
  margin: 0;
  display: inline-block;
  margin-top: 30px;
  border-radius: 8px;
  background: white; }

.marcoSeccionMain {
  margin-top: 30px;
  margin-bottom: 30px; }

.divBotones {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px; }

.botonMainAzulMarino {
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  background: #140033;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  margin-right: 10px; }

.botonMainAzulMarino:hover {
  background: #007bb8; }

.botonMainGris {
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  background: #9C9C9C;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  margin-left: 10px; }

.botonMainGris:hover {
  background: #9C9C9C; }

#pagina {
  width: 95%;
  margin: auto; }
  #pagina #titulo_cabecera p {
    background-color: #007bb8;
    color: white;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    padding-left: 1em;
    text-align: left;
    font-size: 20px; }

.btn-icon {
  display: inline-block;
  background-color: #2d9cdb;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-right: 5px;
  cursor: pointer; }
  .btn-icon img {
    margin-left: 0.5em;
    margin-right: 0.3em;
    width: 23px; }
  .btn-icon p {
    display: inline-block;
    margin: 0;
    color: white; }

.separadorChart {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-style: dashed;
  border-color: #9C9C9C; }

.separadorChartSpan {
  color: #9C9C9C;
  font-size: 18px; }

.separadorSeccion {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #9C9C9C; }

.separador {
  font-size: 30px;
  font-weight: bold;
  color: #eb5757; }

.tituloSeccionMain {
  background: #266DE6;
  color: white;
  height: 50px;
  text-align: left;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }
  .tituloSeccionMain span {
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold; }

.divLeyendaChart {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 20px; }

.colorLeyendaChart {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 4px;
  vertical-align: middle; }

.textoLeyendaChart {
  font-size: 1em;
  font-weight: bold; }

.leyendItem {
  width: 85%;
  float: left;
  margin-right: 0px;
  margin-bottom: 1em; }

.porcentajeLeyendaChart {
  font-size: 1em;
  float: right;
  /*width:60px;*/
  /*padding-right: 0.5em;*/
  text-align: right; }

.tablaCabeceraIzquierda {
  color: white;
  background: #266DE6;
  font-weight: bold !important;
  font-size: 20px;
  border-radius: 5px 0 0 0 !important; }

.tablaCabecera {
  color: white;
  background: #266DE6;
  font-weight: bold !important;
  font-size: 20px; }

.tablaCabeceraDerecha {
  color: white;
  background: #266DE6;
  font-weight: bold !important;
  font-size: 20px;
  border-radius: 0 5px 0 0 !important; }

.valorLeyendaChart {
  font-weight: bold;
  font-size: 1em;
  float: right; }

.chartBig {
  margin: 20px 50px 30px 50px;
  height: 400px;
  display: none; }

.inicioMitadIzquierda {
  display: inline-block;
  width: 60%;
  vertical-align: top; }
  .inicioMitadIzquierda h1 {
    text-align: left; }

.inicioMitadDerecha {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top: 5em; }

.botonPrincipal {
  height: 42px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 21px;
  margin-bottom: 10px; }

.divSeccionPrincipal {
  margin: 15px;
  /*border-style: solid;
border-width: 2px;*/ }
  .divSeccionPrincipal h3 {
    background-color: #b0e6fb;
    color: #1a76ff;
    margin-bottom: 0;
    font-weight: 400;
    padding: 0.2em 0em;
    border-radius: 8px 8px 0px 0px; }
  .divSeccionPrincipal .principalResumen {
    padding: 0px 15px 0px 15px;
    background-color: white;
    border: 2px solid #b0e6fb; }
    .divSeccionPrincipal .principalResumen li {
      margin-bottom: 0.2em;
      margin-top: 1em;
      width: 100%; }
      .divSeccionPrincipal .principalResumen li label:nth-of-type(1) {
        width: 90%;
        text-align: left; }
      .divSeccionPrincipal .principalResumen li label:nth-of-type(2) {
        text-align: right; }

.subtitulo {
  border-bottom: 2px solid #c3d246;
  margin-bottom: 1.5em; }
  .subtitulo h3 {
    text-align: left;
    color: #85b021;
    font-weight: 400; }

.titulo {
  border-bottom: 2px solid #c3d246;
  margin-bottom: 1.5em;
  width: 87%;
  margin-left: auto;
  margin-right: auto; }
  .titulo h3 {
    text-align: center;
    color: #85b021;
    font-weight: 400; }

.cesium-viewer-infoBoxContainer {
  display: none; }

.tablaArreglo {
  text-align: right;
  margin-bottom: -5px;
  margin-right: 26px !important; }

.k-tabstrip-items .k-state-default div {
  background-color: #5fcbf7;
  border: none; }

.k-tabstrip-items .k-state-active div {
  background-color: #b0e6fb;
  border-bottom: 1px solid white;
  border-right: 1px solid white; }

.cesium-viewer-bottom {
  display: none !important; }

.cesium-home-button {
  display: none !important; }

.analisisAire .gases p {
  /*background-color: #536DFE;*/
  color: white;
  border-radius: 4px;
  display: inline-block;
  width: 5em;
  margin-left: 3px;
  cursor: pointer;
  padding-bottom: 2px;
  padding-top: 2px; }

.container-fluid {
  width: 100%; }

.navbar-default {
  background-color: #007bb8; }
  .navbar-default .navbar-brand {
    margin-left: 0.2em;
    color: #000000; }
    .navbar-default .navbar-brand .navbar-brand:hover, .navbar-default .navbar-brand .navbar-brand:focus {
      color: #000000; }
  .navbar-default .navbar-text {
    color: #000000; }
  .navbar-default .navbar-nav li a {
    color: white;
    font-size: 16px; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
      color: white;
      background-color: #007bb8; }
  .navbar-default .navbar-nav li .dropdown-menu {
    background-color: #007bb8; }
    .navbar-default .navbar-nav li .dropdown-menu li {
      width: 100%; }
      .navbar-default .navbar-nav li .dropdown-menu li a {
        display: block;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 14px; }
        .navbar-default .navbar-nav li .dropdown-menu li a:hover, .navbar-default .navbar-nav li .dropdown-menu li a:focus {
          color: white;
          background-color: #006699; }
      .navbar-default .navbar-nav li .dropdown-menu li .divider {
        background-color: #006699; }
      .navbar-default .navbar-nav li .dropdown-menu li .active a {
        color: #000000;
        background-color: #006699; }
        .navbar-default .navbar-nav li .dropdown-menu li .active a:hover, .navbar-default .navbar-nav li .dropdown-menu li .active a:focus {
          color: #000000;
          background-color: #006699; }
  .navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus {
    color: #000000;
    background-color: #007bb8; }
  .navbar-default .navbar-toggle {
    border-color: #007bb8; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #007bb8; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #000000; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #000000; }
  .navbar-default .navbar-link {
    color: #000000; }
    .navbar-default .navbar-link:hover {
      color: #000000; }

.notifications {
  background: #FF693B; }
  .notifications .open a {
    background: #e55e35 !important; }
    .notifications .open a:hover, .notifications .open a:focus {
      background: #e55e35 !important; }
  .notifications:hover {
    background: #e55e35 !important; }

.notificationTab {
  height: 100% !important; }

.notification {
  margin: 20px; }

.notification-thumb {
  float: left; }
  .notification-thumb img {
    width: 32px;
    height: 32px;
    display: block; }

.notification-content {
  margin-left: 50px; }

@media (max-width: 767px) {
  .seccionMain {
    width: 90%; }

  .marcoSeccionMain {
    width: 90%; }

  .seccionMitadIzquierda {
    width: 100%; }

  .seccionMitadDerecha {
    width: 100%; }

  .navbar-default .navbar-nav .open .dropdown-menu li a {
    color: #000000; }
    .navbar-default .navbar-nav .open .dropdown-menu li a:hover, .navbar-default .navbar-nav .open .dropdown-menu li a:focus {
      color: #000000;
      background-color: #007bb8; }
  .navbar-default .navbar-nav .open .dropdown-menu .active a {
    color: #000000;
    background-color: #007bb8; }
    .navbar-default .navbar-nav .open .dropdown-menu .active a:hover, .navbar-default .navbar-nav .open .dropdown-menu .active a:focus {
      color: #000000;
      background-color: #007bb8; }

  .notifications a img {
    display: none; } }
@media (min-width: 767px) {
  .seccionMain {
    width: 65%; }

  .marcoSeccionMain {
    width: 65%; }

  .seccionMitadIzquierda {
    width: 47%; }

  .seccionMitadDerecha {
    width: 47%; }

  .notifications {
    height: 40px; }
    .notifications a {
      padding: 0 15px !important; }

  .theme-default #main-navbar .navbar-nav > li > a {
    color: #eb5757; }

  .small-screen-text {
    display: none; }

  .nunNotificaciones {
    color: white;
    font-size: 1em;
    padding: 0 2px;
    /*line-height: 5px;*/
    position: absolute;
    display: block;
    right: 7px; } }

/*# sourceMappingURL=main.css.map */
