body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: $plomoClaro;
    a {
        color: blue;
    }
    .btn-igresar:hover,
    .btn-igresar {
        background-color: $button_primary;
        color: white;
        width: 20em;
        height: 2.5em;
        border: none;
        border-radius: 4px;
    }
    .btn-cancelar:active,
    .btn-cancelar:hover,
    .btn-cancelar {
        background-color: #006699 !important;
        color: white !important;
        min-width: 100px !important;
        border: none !important;
        padding: 0.3em;
    }
    .btn-aceptar:active,
    .btn-aceptar:hover,
    .btn-aceptar,
    {
        background-color: #2d9cdb !important;
        color: white !important;
        min-width: 100px !important;
        border: none !important;
        padding: 0.3em;
    }
    .btn-nuevo:active,
    .btn-nuevo:hover,
    .btn-nuevo,
    {
        background-color: #5fcbf7;
        color: white;
        width: 15em;
        border-radius: 0.5em;
        border: none;
    }
    .textLoggin {
        width: 20em;
        text-align: center;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }
    .contOlvidePass {
        width: 20em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        text-align: right;
        a {
            font-size: 12px;
            color: $lila;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
    .botoneraFiltros {
        .accionesDer {
            text-align: right;
            div {
                display: inline-block;
                button {
                    background-color: #140033;
                    color: white;
                    width: 6.5em;
                    height: 2.3em;
                }
                ul {
                    margin-left: -4.4em;
                    li {
                        width: 100%;
                        background-color: #fafafa;
                        a {
                            &:hover {
                                background-color: #27A5DD
                            }
                        }
                    }
                }
            }
        }
    }
    .analisis .angucomplete-holder {
        input {
            width: 20em;
        }
        .angucomplete-dropdown {
            width: 20em;
        }
    } // pup up analisis
    .errorBorder {
        border-color: red;
    }
    .tablaKendo {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=text]:focus,
    input[type=number]:focus {
        -webkit-box-shadow: 0 0 100px 1000px $blanco inset;
        -moz-box-shadow: 0 0 100px 1000px $blanco inset;
        box-shadow: 0 0 100px 1000px $blanco inset;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 100px 1000px $blanco inset;
    }
}

h4 {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0px;
    li {
        display: inline-block;
    }
}

select {
    max-width: 300px;
}

table {
    width: 100%
}

.regresarButton {
    position: absolute;
    left: 1em;
    cursor: pointer;
}

.icon_table {
    font-size: 25px;
    cursor: pointer;
}

.btnAgregar {
    position: relative;
    max-width: 1160px;
    button {
        position: absolute;
        right: -45px;
        top: -27px;
        width: 35px;
        height: 35px;
    }
}

.k-menu .k-state-default .k-state-border-down {
    background-color: $ginda;
    border-radius: 5px;
}

.btnRegresar {
    position: relative;
    max-width: 1160px;
    button {
        position: absolute;
        left: 30px;
        top: -42px;
    }
}

.navbar.navbar-default {
    border: none;
}

.botonMenu {
    display: inline-block;
    background-color: $back_ground_primary;
    color: white;
}

.botonesFiltro {
    border-top: solid 1px gray;
    padding-top: 1em;
    border-bottom: solid 1px gray;
    margin-bottom: 1em;
    text-align: left;
    select {
        width: 200px;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            font-weight: none;
        }
    }
}

input[type=file] {
    margin: 0 auto;
}

.comboBox {
    height: 2em;
    border-radius: 5px;
    width: 12em;
}

.dtpicker {
    text-align: left;
}

.error {
    background-color: red;
}

.errorText {
    color: red;
}

.filterable {
    margin-top: 15px;
    .panel-heading {
        .pull-right {
            margin-top: -20px;
        }
    }
    .filters {
        input[disabled] {
            background-color: transparent;
            border: none;
            cursor: auto;
            box-shadow: none;
            padding: 0;
            height: auto;
        }
    }
}

#botones_grilla {
    /*background-color: $back_ground_secundary;*/
    padding: 0.5em 0em;
    position: relative;
}

#despacho_creacion {
    #botones_grilla {
        /*background-color: $back_ground_secundary;*/
        padding: 0.5em 0em;
        position: relative;
    }
    #tabla {
        .mesaje_error {
            background-color: #b0e6fb;
            padding: 0;
            margin: 0;
            color: red;
        }
    }
}

// mixins
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: $button_primary;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: $button_primary;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: $button_primary;
}

.filtrosGrilla {
    margin-top: 25px;
    margin-bottom: 8px;
    padding-top: 8px;
}

.form-group div {
    text-align: left
}

.k-tabstrip-wrapper {
    background-color: $plomoClaro;
}

.loggin-logo {
    width: 200px;
    margin-bottom: 20px;
}

.number {
    max-width: 150px;
}

#contenedorChart {
    text-align: center;
    margin: 0px auto;
    width: 95%;
    div {
        display: inline-block;
        width: 49%;
    }
}

#contenedorCharts {
    text-align: center;
    margin: 0px auto;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.selectChart {
    margin-top: 10px;
    margin-bottom: 20px;
}

.centrar {
    margin: 0 auto;
    text-align: center;
}

.centrarDiv {
    margin: 0 auto;
    width: 600px;
}

.formTitulo {
    width: 47%;
    text-align: right;
    label {
        width: 180px;
        position: relative;
        span {
            max-width: 180px;
            position: absolute;
            left: 0px;
            top: 0px;
            text-align: left;
            font-weight: 700;
        }
    }
}

.formAncho{
    .formTitulo{
        width: 30%;
    }
    .formControl{
        width: 69%;
        input{
            width: 90%;
        }
    }
}
.formAncho .formTitulo{
    width: 30%;
}

.formTitulo2 {
    width: 30%;
    text-align: right;
    label {
        width: 180px;
        position: relative;
        span {
            max-width: 180px;
            position: absolute;
            left: 0px;
            top: 0px;
            margin-top: -10px;
            text-align: left;
            font-weight: 700;
        }
    }
}

.formControl {
    width: 49%;
    p {
        margin-top: 10px;
    }
    a {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        text-decoration: none;
        color: $button_primary;
    }
}

.formControl2 {
    width: 69%;
}

#gauge-container {
    // background: transparent url("../content/dataviz/gauge/gauge-container-partial.png") no-repeat 50% 50%;
    width: 100%; // height: 386px;
    text-align: center;
    margin: 0 auto 30px auto;
    span {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    ;
    #gauge-container .k-slider {
        margin-top: -15px;
        width: 140px;
    }
}

.tituloCuenta>p {
    margin: 0px;
    margin-top: 1.5em;
}

.slider {
    width: 200px;
    margin: 0px auto;
}

.filaEliminando1 {
    background-color: $beige;
    color: $naranja;
    font-weight: bold;
    td {
        button {
            background: $naranja;
            color: white;
            &:hover {
                background: $naranja;
                color: white;
            }
        }
    }
}

.filaEliminando2 {
    background-color: $rojaBajo;
    color: red;
    font-weight: bold;
    td {
        button {
            background: red;
            color: white;
            &:hover {
                background: red;
                color: white;
            }
        }
    }
}

.panel {
    border: 1px solid $plomoClaro;
    padding-bottom: 10px;
    border-radius: 0.7em;
    background-color: transparent;
}

.panelPopUp {
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ulPanel {
    padding-left: 0px;
    li {
        width: 90%;
        .labelIzquierda {
            width: 52%;
            text-align: left;
        }
        .labelDerecha {
            width: 40%;
            text-align: right;
        }
    }
}

.popUpContent {
    border-radius: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.popUpContentInfo {
    border-radius: 15px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.popUpFooter {
    border-top: solid $plomoClaro 1px;
    padding-top: 5px;
    text-align: right;
    padding-right: 50px;
}

.popUpHeader {
    background-color: $celeste;
    color: white;
    border-radius: 10px 10px 0px 0px;
    /*height: 40px;*/
}

.popUpTitle {
    font-weight: normal;
    margin-top: -9px;
}

.waiting-box {
    display: block;
    position: fixed;
    /* fixed position so it doesn't scroll */
    z-index: 9999;
    /* on top of everything else */
    width: 250px;
    margin-left: -125px;
    /* horizontally centered */
    left: 50%;
    top: 10px;
    /* displayed on the top of the page, just like Gmail's yellow info-box */
    height: 60px;
    padding: 10px;
    background-color: $amarilloSuave;
    border-radius: 4px;
}

#filtros_pedidos {
    /*background-color: $back_ground_secundary;*/
    padding: 0.5em 0em;
    div {
        width: 18%;
        display: inline-block;
        span {
            color: #1a76ff;
        }
        select {
            width: 100%;
        }
    }
}

.k-progress-status {
    font-size: 0px
}

@media (max-width: 450px) {
    .tituloPagina {
        font-size: 30px;
    }
    body {
        .textLoggin {
            width: 12em;
            text-align: center;
            margin-bottom: 0.25em;
            margin-top: 0.25em;
        }
        .btn-igresar {
            background-color: $button_primary;
            color: white;
            width: 12em;
            height: 2.5em;
        }
        .contOlvidePass {
            width: 12em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1em;
            text-align: right;
        }
        .contOlvidePass {
            a {
                font-size: 12px;
                color: $lila;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
        }
    }
}


/* CSS DE LA PAGINA PRINCIPAL */

.contenedorPrincipal {
    background: $plomoClaro;
}

.seccionMain {
    margin-top: 30px;
    border-radius: 8px;
    background: white;
}

.seccionMitadIzquierda {
    /* margin: 0 2.8% 0 0; */
    display: inline-block;
    margin-top: 30px;
    border-radius: 8px;
    background: white;
}

.seccionMitadDerecha {
    margin: 0;
    display: inline-block;
    margin-top: 30px;
    border-radius: 8px;
    background: white;
}

.marcoSeccionMain {
    margin-top: 30px;
    margin-bottom: 30px;
}

.divBotones {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 20px;
}

.botonMainAzulMarino {
    color: $blanco;
    padding-left: 30px;
    padding-right: 30px;
    background: $ginda;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.botonMainAzulMarino:hover {
    background: $azulMarino;
}

.botonMainGris {
    color: $blanco;
    padding-left: 30px;
    padding-right: 30px;
    background: $plomo;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 10px;
}

.botonMainGris:hover {
    background: $plomo;
}

#pagina {
    width: 95%;
    margin: auto;
    #titulo_cabecera {
        p {
            background-color: #007bb8;
            color: white;
            padding-bottom: 0.8em;
            padding-top: 0.8em;
            padding-left: 1em;
            text-align: left;
            font-size: 20px;
        }
    }
}

.btn-icon {
    display: inline-block;
    background-color: #2d9cdb;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 5px;
    cursor: pointer;
    img {
        margin-left: 0.5em;
        margin-right: 0.3em;
        width: 23px;
    }
    p {
        display: inline-block;
        margin: 0;
        color: white
    }
}

.separadorChart {
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-style: dashed;
    border-color: $plomo;
}

.separadorChartSpan {
    color: $plomo;
    font-size: 18px;
}

.separadorSeccion {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: $plomo;
}

.separador {
    font-size: 30px;
    font-weight: bold;
    color: $button_primary;
}

.tituloSeccionMain {
    background: $azul;
    color: white;
    height: 50px;
    text-align: left;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    span {
        vertical-align: middle;
        display: table-cell;
        height: 50px;
        padding-left: 20px;
        font-size: 25px;
        font-weight: bold;
    }
}

.divLeyendaChart {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;
}

.colorLeyendaChart {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 4px;
    vertical-align: middle;
}

.textoLeyendaChart {
    font-size: 1em;
    font-weight: bold;
}

.leyendItem {
    width: 85%;
    float: left;
    margin-right: 0px;
    margin-bottom: 1em;
}

.porcentajeLeyendaChart {
    font-size: 1em;
    float: right;
    /*width:60px;*/
    /*padding-right: 0.5em;*/
    text-align: right;
}

.tablaCabeceraIzquierda {
    color: white;
    background: $azul;
    font-weight: bold !important;
    font-size: 20px;
    border-radius: 5px 0 0 0 !important;
}

.tablaCabecera {
    color: white;
    background: $azul;
    font-weight: bold !important;
    font-size: 20px;
}

.tablaCabeceraDerecha {
    color: white;
    background: $azul;
    font-weight: bold !important;
    font-size: 20px;
    border-radius: 0 5px 0 0 !important;
}

.valorLeyendaChart {
    font-weight: bold;
    font-size: 1em;
    float: right;
}

.chartBig {
    margin: 20px 50px 30px 50px;
    height: 400px;
    display: none;
}

.inicioMitadIzquierda {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    h1 {
        text-align: left;
    }
}

.inicioMitadDerecha {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 5em;
}

.botonPrincipal {
    height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 21px;
    margin-bottom: 10px;
}

.divSeccionPrincipal {
    margin: 15px;
    /*border-style: solid;
  border-width: 2px;*/
    h3 {
        background-color: $back_ground_secundary;
        color: #1a76ff;
        margin-bottom: 0;
        font-weight: 400;
        padding: 0.2em 0em;
        border-radius: 8px 8px 0px 0px;
    }
    .principalResumen {
        padding: 0px 15px 0px 15px;
        background-color: white;
        border: 2px solid$back_ground_secundary;
        li {
            margin-bottom: 0.2em;
            margin-top: 1em;
            width: 100%;
            label {
                &:nth-of-type(1) {
                    width: 90%;
                    text-align: left;
                }
                &:nth-of-type(2) {
                    text-align: right;
                }
            }
        }
    }
}

.subtitulo {
    border-bottom: 2px solid #c3d246;
    margin-bottom: 1.5em;
    h3 {
        text-align: left;
        color: #85b021;
        font-weight: 400;
    }
}

.titulo {
    border-bottom: 2px solid #c3d246;
    margin-bottom: 1.5em;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    h3 {
        text-align: center;
        color: #85b021;
        font-weight: 400;
    }
}

.cesium-viewer-infoBoxContainer {
    display: none;
}

.tablaArreglo {
    text-align: right;
    margin-bottom: -5px;
    margin-right: 26px !important
}

.k-tabstrip-items .k-state-default div {
    background-color: #5fcbf7;
    border: none;
}

.k-tabstrip-items .k-state-active div {
    background-color: $back_ground_secundary;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.cesium-viewer-bottom {
    display: none !important;
}

.cesium-home-button {
    display: none !important;
}

.analisisAire {
    .gases {
        p {
            /*background-color: #536DFE;*/
            color: white;
            border-radius: 4px;
            display: inline-block;
            width: 5em;
            margin-left: 3px;
            cursor: pointer;
            padding-bottom: 2px;
            padding-top: 2px;
        }
    }
}

.detalleRanking{
    padding: 10px;
}

.detalleRanking div.col-sm-3{
  width:25%;
  display: inline-block;
  height: 40px;
    /* vertical-align: middle; */
    line-height: 40px;
}
.detalleRanking div.col-sm-9{
  width:70%;
  display: inline-block;
  height: 40px;
  vertical-align: top;
  font-size: 20px;
}
.detalleRanking div.col-sm-9 div{
  text-align: left;
}
.rankCont.gold{
  background-color: gold;
}
.rankCont.silver{
  background-color: silver;
}
.rankCont.coop{
  background-color: darkgoldenrod;
}
.rankCont {
    border: 1px solid;
    height: 80px;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:10px;
}
.detalleConfDesp{
    border: 1px solid;
    height: 80px;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:10px;
     background-color: white;
}

.detalleConfDesp .titleConf{
    font-weight:bold;
    margin-top:10px;
}