.container-fluid {
    width: 100%;
}

.navbar-default {
    background-color: $back_ground_primary;
    .navbar-brand {
        margin-left: 0.2em;
        color: $negro;
        .navbar-brand {
            &:hover,
            &:focus {
                color: $negro;
            }
        }
    }
    .navbar-text {
        color: $negro;
    }
    .navbar-nav {
        li {
            a {
                color: white;
                font-size: 16px;
                &:hover,
                &:focus {
                    color: white;
                    background-color: $celesteMenu;
                }
            }
            .dropdown-menu {
                background-color: $back_ground_primary;
                li {
                    width: 100%;
                    a {
                        display: block;
                        text-align: center;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        font-size: 14px;
                        &:hover,
                        &:focus {
                            color: white;
                            background-color: #006699;
                        }
                    }
                    .divider {
                        background-color: #006699;
                    }
                    .active {
                        a {
                            color: $negro;
                            background-color: #006699;
                            &:hover,
                            &:focus {
                                color: $negro;
                                background-color: #006699;
                            }
                        }
                    }
                }
            }
        }
        .open {
            a {
                &:hover,
                &:focus {
                    color: $negro;
                    background-color: $celesteMenu;
                }
            }
        }
    }
    .navbar-toggle {
        border-color: $celesteMenu;
        &:hover,
        &:focus {
            background-color: $celesteMenu;
        }
        .icon-bar {
            background-color: $negro;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $negro;
    }
    .navbar-link {
        color: $negro;
        &:hover {
            color: $negro;
        }
    }
}

.notifications {
    background: $naranja;
    .open {
        a {
            background: $naranjaOscuro !important;
            &:hover,
            &:focus {
                background: $naranjaOscuro !important;
            }
        }
    }
    &:hover {
        background: $naranjaOscuro !important;
    }
}

.notificationTab {
    height: 100% !important;
}

.notification {
    margin: 20px;
}

.notification-thumb {
    float: left;
    img {
        width: 32px;
        height: 32px;
        display: block
    }
}

.notification-content {
    margin-left: 50px
}

@media (max-width: 767px) {
    .seccionMain {
        width: 90%;
    }
    .marcoSeccionMain {
        width: 90%;
    }
    .seccionMitadIzquierda {
        width: 100%;
    }
    .seccionMitadDerecha {
        width: 100%;
    }
    .navbar-default {
        .navbar-nav {
            .open {
                .dropdown-menu {
                    li {
                        a {
                            color: $negro;
                            &:hover,
                            &:focus {
                                color: $negro;
                                background-color: $celesteMenu;
                            }
                        }
                    }
                    .active {
                        a {
                            color: $negro;
                            background-color: $celesteMenu;
                            &:hover,
                            &:focus {
                                color: $negro;
                                background-color: $celesteMenu;
                            }
                        }
                    }
                }
            }
        }
    }
    .notifications a img {
        display: none;
    }
}

@media (min-width: 767px) {
    .seccionMain {
        width: 65%;
    }
    .marcoSeccionMain {
        width: 65%;
    }
    .seccionMitadIzquierda {
        width: 47%;
    }
    .seccionMitadDerecha {
        width: 47%;
    }
    .notifications {
        height: 40px;
        a {
            padding: 0 15px !important;
        }
    }
    .theme-default #main-navbar .navbar-nav>li>a {
        color: $button_primary;
    }
    .small-screen-text {
        display: none;
    }
    .nunNotificaciones {
        color: white;
        font-size: 1em;
        padding: 0 2px;
        /*line-height: 5px;*/
        position: absolute;
        display: block;
        right: 7px;
    }
}