$plomoClaro:#F0F0F0;
$button_primary:#eb5757;
$celeste:#007bb8;
$celesteMenu:#007bb8;
$lila:#4459D4;
$blanco:#ffffff;
$ginda:#140033;
$beige:#FFCC99;
$naranja:#FF693B;
$naranjaOscuro:#e55e35;
$rojaBajo:#FF9999;
$amarilloSuave:#f3e9b5;
$azulMarino:#007bb8;
$plomo:#9C9C9C;
$azul:#266DE6;
$negro:#000000;
$back_ground_primary:#007bb8;
$back_ground_secundary:#b0e6fb