<section id="pagina">
    <header id="titulo_cabecera">
        <p>CLIENTES</p>
    </header>
	<div class="form-group">
		<div id="gridClientes" class="tablaListar" kendo-grid="gridClientes" k-data-source="registrations" k-selectable="'row'"
		 k-columns="gridColumns" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
		</div>
	</div>
</section>



<div class="modal fade" id="popupDetailClient" tabindex="-1" role="dialog" aria-labelledby="popupDetailClient" aria-hidden="true">
	<div class="modal-dialog">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4>Editar Cliente</h4>
    		</div>
	    	<div class="modal-body">
				<form class="form-horizontal" name="editClientForm" novalidate>
	        		<fieldset>
						<!--<div class=" datosPupap ">-->
						<div class=" datosPupap ">

							<ul class="form-group formAncho">
	              				<li class="formTitulo">
	                				<label for="inputRazon" class="col-lg-4 control-label">Razon Social</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="text" class="form-control k-textbox" name="razon" id="inputRazon" placeholder="Razon Social" ng-model="currentClient.nombres" ng-class="{ errorBorder: editClientForm.razon.$error.required && submitted}" disabled>
	              				</li>
	            			</ul>

							<ul class="form-group formAncho">
	              				<li class="formTitulo">
	                				<label for="inputNombreCorto" class="col-lg-4 control-label">Nombre Corto</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="text" class="form-control k-textbox" name="nombreCorto" id="inputNombreCorto" placeholder="Razon Social" ng-model="currentClient.nombreCorto" required ng-class="{ errorBorder: editClientForm.nombreCorto.$error.required && submitted}" maxlength="30">
	              				</li>
	            			</ul>

							<ul class="form-group formAncho">
	              				<li class="formTitulo">
	                				<label for="inputRuc" class="col-lg-4 control-label">RUC</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="text" class="form-control k-textbox" name="inputRuc" id="inputRuc" placeholder="Razon Social" ng-model="currentClient.RUC" ng-class="{ errorBorder: editClientForm.inputRuc.$error.required && submitted}" disabled>
	              				</li>
	            			</ul>

							<ul class="form-group formAncho">
	              				<li class="formTitulo">
	                				<label for="inputDirFiscal" class="col-lg-4 control-label">Dirección fiscal</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="text" class="form-control k-textbox" name="inputDirFiscal" id="inputDirFiscal" placeholder="Dirección fiscal" ng-model="currentClient.direccionFiscal" ng-class="{ errorBorder: editClientForm.inputDirFiscal.$error.required && submitted}" required>
	              				</li>
	            			</ul>

							<ul class="form-group formAncho">
	              				<li class="formTitulo">
	                				<label for="inputDirDespacho" class="col-lg-4 control-label">Dirección de despacho</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="text" class="form-control k-textbox" name="inputDirDespacho" id="inputDirDespacho" placeholder="Dirección de despacho" ng-model="currentClient.direccionDespacho" ng-class="{ errorBorder: editClientForm.inputDirDespacho.$error.required && submitted}" required>
	              				</li>
	            			</ul>

							<ul class="form-group formAncho">
	              				<li class="formTitulo">
	                				<label for="inputDiasPartidas" class="col-lg-4 control-label">Días de reserva de partidas</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="number" class="form-control k-textbox" name="inputDiasPartidas" id="inputDiasPartidas" placeholder="Dias de partidas" ng-model="currentClient.diasPartida" ng-class="{ errorBorder: editClientForm.inputDiasPartidas.$error.required && submitted}" step="1" required>
	              				</li>
	            			</ul>
	            				<ul class="form-group">
								<li class="formTitulo">
									<label for="inputListaPrecios" class="col-lg-4 control-label">Lista de Precios:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="inputListaPrecios" class="comboBox" ng-model="currentClient.idLista" name="inputListaPrecios" ng-class="{ 'errorBorder' : editClientForm.inputListaPrecios.$invalid && submitted }"
									 required>
								  <option ng-repeat = "lista in listas" value="{{lista.id}}">{{lista.nombre}}</option>
            						</select>
								</li>
							</ul>
							<ul class="form-group formAncho">
	          					<li class="formTitulo">
	                				<label for="inputEmail" class="col-lg-4 control-label">Requiere aprobación?:</label>
	              				</li>
	              				<li class="formControl" style="text-align: left;">
	                				<input type="checkbox" ng-model="currentClient.requiereAprobacion">
	              				</li>
	            			</ul>

						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
      			<button type="submit" class="k-button btn-aceptar" ng-click="editUser(editClientForm.$valid)">Actualizar</button>
      			<button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
    		</div>
		</div>
	</div>
</div>