<div class="modal fade" id="popupErroresGlobales" tabindex="-1" role="dialog" aria-labelledby="popupErroresGlobales" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content popUpContent" ng-click="cerrarPupUp()" >
    				
    				<div class="modal-header popUpHeader">
                          <h4 class="modal-title popUpTitle">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        <p id="mensajeError"></p>                        
            </div>
                    

              </div>
          </div>
</div>