<section id="pagina">
  <header id="titulo_cabecera">
    <p>CAMBIAR CONTRASEÑA</p>
  </header>

  <div>

    <div class="container-fluid">

      <!--  Panel de Loggeo -->


      <div class="panel panel-primary">
        <!-- <div class="panel-heading">
          <h3 class="panel-title"> CAMBIAR CONTRASEÑA</h3>
        </div>-->

        <div class="panel-body">


          <!-- Formulario de ingreso-->

          <form class="form-horizontal" name="logginForm" ng-submit="cambiarClaveUsuario(logginForm.$valid)" novalidate>


            <fieldset>
              <div>
                <!--<img class="loggin-logo" src="img/logoEmpresa.png" />-->
              </div>


              <div>



                <div>

                  <!--<span class="input-group-addon inicial"><span class="glyphicon glyphicon-modal-window"></span></span>-->



                  <input type="password" name="claveAnterior" placeholder="Contraseña Anterior" class="k-textbox textLoggin" ng-model="formData.claveAnterior"
                    ng-class="{'errorBorder' : logginForm.claveAnterior.$invalid  && submitted}" required>

                  <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->

                </div>

                <div>

                  <!-- <span class="input-group-addon inicial"><span class="glyphicon glyphicon-modal-window"></span></span>-->



                  <input type="password" name="nuevaClave" placeholder="Nueva contraseña" class="k-textbox textLoggin" ng-model="formData.nuevaClave"
                    ng-class="{'errorBorder' : logginForm.nuevaClave.$invalid  && submitted}" required>

                  <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->

                </div>
                <div>

                  <!--  <span class="input-group-addon inicial" ><span class="glyphicon glyphicon-modal-window"></span></span>-->




                  <input type="password" name="repitaNuevaClave" placeholder="Repita nueva contraseña" class="k-textbox textLoggin" ng-model="formData.repitaNuevaClave"
                    ng-class="{'errorBorder' : logginForm.repitaNuevaClave.$invalid  && submitted}" required>

                  <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->

                </div>

                <p class="errorText">{{erroresLoggin}}</p>

              </div>
              <div>

                <div>
                  <button type="submit" class="k-button btn-igresar">Cambiar contraseña</button>
                </div>


              </div>



            </fieldset>
          </form>


          <!-- /Formulario de ingreso-->

        </div>
      </div>

      <!--  /Panel de Loggeo -->

    </div>


  </div>
</section>

<!-- ****************** DIRECTIVES   ************** -->

<mensaje-save-data></mensaje-save-data>

<mensaje-Update-Data></mensaje-Update-Data>
<mensaje-error500></mensaje-error500>



<!-- ****************** fin DIRECTIVES   ************** -->