<section id="pagina">
    <header id="titulo_cabecera">
        <p>PEDIDOS</p>
    </header>
    <div id="filtros_pedidos">
        <div>
            <span>Tipo:</span>
            <select ng-model="tipo_pedido_elegido" ng-change="buscar_estados()">
            <option value="0">Todos</option>
            <option ng-repeat="tipo in tipo_pedidos" value="{{tipo.id}}"> {{tipo.nombres}}</option>        
        </select>
        </div>
        <div>
            <span>Estado:</span>
            <select ng-model="estado_elegido">
            <option value="0">Todos</option>
            <option ng-repeat="estado in estado_pedidos" value="{{estado.id}}"> {{estado.nombre}}</option>        
        </select>
        </div>
        <div>
            <span>Cliente:</span>
            <select ng-model="cliente_elegido">
            <option value="0">Todos</option>
            <option ng-repeat="cliente in lista_clientes" value="{{cliente.id}}"> {{cliente.nombres}}</option>        
        </select>
        </div>
        <div>
            <span>Vendedor:</span>
            <select ng-model="vendedor_elegido">
            <option value="0">Todos</option>
            <option ng-repeat="vendedor in lista_vendedores" value="{{vendedor.id}}"> {{vendedor.nombres}} {{vendedor.apellidos}}</option>        
        </select>
        </div>
        <button class="btn-aceptar" ng-click="buscar_pedidos()">Buscar</button>

    </div>
    <div class="form-group">
        <div id="gridPedidos" class="tablaListar" kendo-grid="gridPedidos" k-data-source="registrations" k-selectable="'row'" k-columns="registrationsColumns"
            k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
        </div>
    </div>
</section>


<div class="modal fade" id="popupMotivoRechazo" tabindex="-1" role="dialog" aria-labelledby="popupMotivoRechazo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " ng-click="cerrarPupUp()">
            <div class="modal-header ">
                <h4 class="modal-title ">Rechazo de Pedido</h4>
            </div>
            <div class="modal-body popDatos">
                <form class="form-horizontal" name="rechazoCotizacionForm" novalidate>
                    <fieldset>
                        <div>
                            <ul>
                                <li style='width: 100%;'>
                                    <textarea ng-model="razonRechazo" placeholder="Ingrese el motivo del rechazo" style="width: 90%;height: 200px;" 
                                     required></textarea>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer" ng-show="estadoIdPedido!=4">
                <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="rechazar_pedido()" class="k-button btn-aceptar">Rechazar</button>
            </div>
            <div class="modal-footer" ng-show="estadoIdPedido==4">
                <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="popupDetailOrder" tabindex="-1" role="dialog" aria-labelledby="popupDetailOrder" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " ng-click="cerrarPupUp()">
            <div class="modal-header ">
                <h4 class="modal-title">Notas de Pedido</h4>
            </div>
            <div class="modal-body popDatos">
                <fieldset>
                    <div>
                        <ul>
                            <li style='width: 100%;'>
                                <textarea ng-model="currentOrder.comentario" style="width: 90%;height: 200px;" disabled></textarea>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
