<section id="pagina">
    <header id="titulo_cabecera">
        <p>RANKING</p>
    </header>
    <div id="filtros_ranking">
       <div class="" id="cOBY-list-item-container4" ng-repeat="elem in rankingElem" >
                   
               <div class="item item-body  itemPedido itemRank rankCont" 
               ng-class="{gold:$index==0,silver:$index==1,coop:$index==2}">
                <div class="detalleRanking">
                    <div class="col-sm-3">
                    <b>{{$index + 1}}</b>   
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <label >{{elem.vendedor}}</label>
                        </div>
                        <div class="montoRank">
                      <label class="cantidadProductosPedido">S/.{{elem.monto}} </label>
                      </div>
                    </div>
                </div>
                </div>
            </div>

    </div>
    
</section>

