<section id="pagina">
	<header id="titulo_cabecera">
		<p>LISTA DE PRECIOS</p>
	</header>
	<div>
		<div id="botones_grilla">
			
			<button ng-click="crearProducto()" data-toggle="modal" data-target="#popupNuevoProducto" class="btn-aceptar">Crear Lista</button>
			
		</div>
		<div class="form-group">
			<div id="gridProductos" class="tablaListar" kendo-grid="gridProductos" k-data-source="registrations" k-selectable="'row'"
			 k-columns="gridColumns" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
			</div>
		</div>
	</div>

	<div class="modal fade" id="popupNuevoProducto" tabindex="-1" role="dialog" aria-labelledby="popupNuevoProducto" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4>Crear Lista</h4>
				</div>

				<div class="modal-body">

					<form class="form-horizontal" name="crearProductoForm" novalidate>
						<fieldset>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputCrearPrecio" class="col-lg-4 control-label">Nombre:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<input type="text" class="form-control k-textbox" name="inputCrearPrecio" id="inputCrearPrecio" placeholder="Nombre" ng-model="listaCrear.nombrelista"
									 ng-class="{ 'errorBorder' : crearProductoForm.inputCrearPrecio.$invalid   && submitted }" required>
								</li>
							</ul>

						</fieldset>
					</form>
				</div>

				<div class="modal-footer">
					<button class="k-button btn-aceptar" ng-click="submitForm(crearProductoForm.$valid)">Agregar</button>
					<button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
				</div>

			</div>
		</div>
	</div>


	

</section>