<section id="pagina">
	<header id="titulo_cabecera">
		<p>PARTIDAS</p>
	</header>
	<div>
		
		<div class="form-group">
			<div id="gridProductos" class="tablaListar" kendo-grid="gridProductos" k-data-source="registrations" k-selectable="'row'"
			 k-columns="gridColumns" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
			</div>
		</div>
	</div>


	 
	<div class="modal fade" id="popupDetailOrder" tabindex="-1" role="dialog" aria-labelledby="popupDetailOrder" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4>Editar Partida</h4>
				</div>

				<div class="modal-body">

					<form class="form-horizontal" name="crearProductoForm" novalidate>
						<fieldset>

							

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Partida:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									{{editPartida.partida}}
								</li>
							</ul>

							
							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputCrearPrecio" class="col-lg-4 control-label">Precio Extra (S/.):</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<input type="number" class="form-control k-textbox" name="inputCrearPrecio" id="inputCrearPrecio" placeholder="Precio" ng-model="editPartida.extra"
									 ng-class="{ 'errorBorder' : crearProductoForm.inputCrearPrecio.$invalid   && submitted }" required>
								</li>
							</ul>

						</fieldset>
					</form>
				</div>

				<div class="modal-footer">
					<button class="k-button btn-aceptar" ng-click="submitForm(crearProductoForm.$valid)">Actualizar</button>
					<button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
				</div>

			</div>
		</div>
	</div>


	<div class="modal fade" id="popupErroresCarga" tabindex="-1" role="dialog" aria-labelledby="popupErroresCarga" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4>Datos Erroneos</h4>
				</div>

				<div class="modal-body">
					<div id="gridProductos_excel" class="tablaListar" kendo-grid="gridProductos_excel" k-data-source="registrations_excel" k-selectable="'row'"
					 k-columns="gridColumns_excel" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions_excel">
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cerrar</button>
				</div>

			</div>
		</div>
	</div>

</section>

<script type="text/javascript">
	$("#export").click(function (e) {
		$("#gridProductos").data("kendoGrid").saveAsExcel();
	});
	function getFileStock() {
		document.getElementById("fileStock").click();
	}
	function getFileCosts(){
		document.getElementById("fileCosts").click();
	}

</script>