<section id="pagina">
	<header id="titulo_cabecera">
		<p>PRODUCTOS</p>
	</header>
	<div>
		<div id="botones_grilla">
			<select id="inputListaPrecios" class="comboBox" ng-model="listaPicked" name="inputListaPrecios">
								  <option ng-repeat = "lista in listas" value="{{lista.id}}">{{lista.nombre}}</option>
            						</select>
            <button ng-click="filtrarporLista()" class="btn-aceptar">Ir</button>
			<button ng-click="crearProducto()" data-toggle="modal" data-target="#popupNuevoProducto" class="btn-aceptar">Crear Producto</button>
			<div onclick="getFileStock()" class="btn-icon">
				<img src="./img/excel-icon.png" alt="" style="">
				<p>Actualizar Stocks</p>
			</div>
			<div class="btn-icon" ng-click="exportarStocks()">
				<img src="./img/excel-icon.png" alt="" style="">
				<p>Ejemplo Stocks</p>
			</div>
			<div ng-if="listaPicked" onclick="getFileCosts()" class="btn-icon">
				<img src="./img/excel-icon.png" alt="" style="">
				<p>Actualizar Precios</p>
			</div>
			<div ng-if="listaPicked" class="btn-icon" ng-click="exportarPrecios()">
				<img src="./img/excel-icon.png" alt="" style="">
				<p>Ejemplo Precios</p>
			</div>
		</div>
		<div class="form-group">
			<div id="gridProductos" class="tablaListar" kendo-grid="gridProductos" k-data-source="registrations" k-selectable="'row'"
			 k-columns="gridColumns" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
			</div>
		</div>
	</div>

	<p ng-show="mostrar_carga_completa"> Actualizacion completada </p>

	<input id="fileStock" name='fileStock' type="file" onchange="angular.element(this).scope().leerArchivoStock(this.files)" accept=".xlsx"
	 style="display:none" />
	 <input id="fileCosts" name='fileCosts' type="file" onchange="angular.element(this).scope().leerArchivoCosto(this.files)" accept=".xlsx"
	 style="display:none" />

	<div class="modal fade" id="popupNuevoProducto" tabindex="-1" role="dialog" aria-labelledby="popupNuevoProducto" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4>Crear Producto</h4>
				</div>

				<div class="modal-body">

					<form class="form-horizontal" name="crearProductoForm" novalidate>
						<fieldset>
							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Artículo:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearArticulo" class="comboBox" ng-model="productoCrear.idArticulo" name="selectCrearArticulo" ng-class="{ 'errorBorder' : crearProductoForm.selectCrearArticulo.$invalid && submitted }" required>
										<option ng-repeat = "articulo in articulos" value="{{articulo.id}}">{{articulo.nombre}}</option>
            						</select>
								</li>
							</ul>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Fibra:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearFibra" class="comboBox" ng-model="productoCrear.idFibra" name="selectCrearFibra" ng-class="{ 'errorBorder' : crearProductoForm.selectCrearFibra.$invalid && submitted }"
									 required>
									<option ng-repeat = "fibra in fibras" value="{{fibra.id}}">{{fibra.nombre}}</option>
                          		</select>
								</li>
							</ul>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Titulo:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearTitulo" class="comboBox" ng-model="productoCrear.idTitulo" name="selectCrearTitulo" ng-class="{ 'errorBorder' : crearProductoForm.selectCrearTitulo.$invalid && submitted }" required>
										<option ng-repeat = "titulo in titulos" value="{{titulo.id}}">{{titulo.nombre}}</option>
                          			</select>
								</li>
							</ul>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Especificación:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearEspecificacion" class="comboBox" ng-model="productoCrear.idEspecificacion" name="selectCrearEspecificacion"
									 ng-class="{ 'errorBorder' : crearProductoForm.selectCrearEspecificacion.$invalid && submitted }" required>
										<option ng-repeat = "especificacion in especificaciones" value="{{especificacion.id}}">{{especificacion.nombre}}</option>
                          		</select>
								</li>
							</ul>
							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Color:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearColor" class="comboBox" ng-model="productoCrear.idColor" name="selectCrearColor" ng-class="{ 'errorBorder' : crearProductoForm.selectCrearColor.$invalid && submitted }"
									 required>
									<option ng-repeat = "color in colores" value="{{color.id}}">{{color.nombre}}</option>
                          		</select>
								</li>
							</ul>
							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Gama:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearGama" class="comboBox" ng-model="productoCrear.idGama" name="selectCrearGama" ng-class="{ 'errorBorder' : crearProductoForm.selectCrearGama.$invalid && submitted }"
									 required>
									<option ng-repeat = "gama in gamas" value="{{gama.id}}">{{gama.nombre}}</option>
                          		</select>
								</li>
							</ul>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputEmail" class="col-lg-4 control-label">Acabado:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<select id="selectCrearAcabado" class="comboBox" ng-model="productoCrear.idAcabado" name="selectCrearAcabado" ng-class="{ 'errorBorder' : crearProductoForm.selectCrearAcabado.$invalid && submitted }"
									 required>
									<option ng-repeat = "acabado in acabados" value="{{acabado.id}}">{{acabado.nombre}}</option>
                          		</select>
								</li>
							</ul>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputCrearPrecio" class="col-lg-4 control-label">Precio mín x rollo (S/.):</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<input type="number" class="form-control k-textbox" name="inputCrearPrecio" id="inputCrearPrecio" placeholder="Precio" ng-model="productoCrear.precioMinimo"
									 ng-class="{ 'errorBorder' : crearProductoForm.inputCrearPrecio.$invalid   && submitted }" required>
								</li>
							</ul>

							<ul class="form-group">
								<li class="formTitulo">
									<label for="inputCrearCodigo" class="col-lg-4 control-label">Código:</label>
								</li>
								<li class="formControl" style="text-align: left;">
									<input type="text" class="form-control k-textbox" name="inputCrearCodigo" id="inputCrearCodigo" placeholder="Código" ng-model="productoCrear.codigo" ng-class="{ 'errorBorder' : crearProductoForm.inputCrearCodigo.$invalid   && submitted }" >
								</li>
							</ul>

						</fieldset>
					</form>
				</div>

				<div class="modal-footer">
					<button class="k-button btn-aceptar" ng-click="submitForm(crearProductoForm.$valid)">Agregar</button>
					<button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
				</div>

			</div>
		</div>
	</div>


	<div class="modal fade" id="popupErroresCarga" tabindex="-1" role="dialog" aria-labelledby="popupErroresCarga" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4>Datos Erroneos</h4>
				</div>

				<div class="modal-body">
					<div id="gridProductos_excel" class="tablaListar" kendo-grid="gridProductos_excel" k-data-source="registrations_excel" k-selectable="'row'"
					 k-columns="gridColumns_excel" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions_excel">
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cerrar</button>
				</div>

			</div>
		</div>
	</div>

</section>

<script type="text/javascript">
	$("#export").click(function (e) {
		$("#gridProductos").data("kendoGrid").saveAsExcel();
	});
	function getFileStock() {
		document.getElementById("fileStock").click();
	}
	function getFileCosts(){
		document.getElementById("fileCosts").click();
	}

</script>