<section id="pagina">
    <header id="titulo_cabecera">
        <p>CONFIRMACION DESPACHO</p>
    </header>
   
    <div id="filtros_ranking">
       <div class="" id="cOBY-list-item-container4" ng-repeat="elem in pedidosPorConf" >
                   
               <div class="item item-body  itemPedido itemRank">
                <div class="detalleConfDesp" ng-click="confirmar(elem.id,elem.nombres );">
                   
                    <div >
                        <div class="titleConf">
                            <label >{{elem.id}} - {{elem.nombres}}</label>
                        </div>
                        <div class="montoRank">
                      <label class="cantidadProductosPedido">{{elem.direccionDespacho}} </label>
                      </div>
                    </div>
                </div>
                </div>
            </div>

    </div>
</section>


<div class="modal fade" id="popupConfirmar" tabindex="-1" role="dialog" aria-labelledby="popupConfirmar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " ng-click="cerrarPupUp()">
            <div class="modal-header ">
                <h4 class="modal-title ">Confirmación de Envio</h4>
            </div>
            <div class="modal-body popDatos">
                Indique la acción para el pedido {{idPedidoMostrando}} - {{nombrePedido}}.
            </div>
            <div class="modal-footer" ng-show="estadoIdPedido!=11">
                <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="rechazar_pedido(idPedidoMostrando)" class="k-button btn-aceptar">Devuelto</button>
                <button type="button" ng-click="aceptar_pedido(idPedidoMostrando)"  class="k-button btn-cancelar" >Enviado</button>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="popupDetailOrder" tabindex="-1" role="dialog" aria-labelledby="popupDetailOrder" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " ng-click="cerrarPupUp()">
            <div class="modal-header ">
                <h4 class="modal-title">Notas de Pedido</h4>
            </div>
            <div class="modal-body popDatos">
                <fieldset>
                    <div>
                        <ul>
                            <li style='width: 100%;'>
                                <textarea ng-model="currentOrder.comentario" style="width: 90%;height: 200px;" disabled></textarea>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
