<section id="pagina">
    <header id="titulo_cabecera">
        <p>DETALLE DE DESPACHO</p>
    </header>
    <article id="despacho_creacion">
        <section ng-if="notDispatchInProcess">
            <p>No existe un despacho en proceso</p>
        </section>
        <section ng-show="!notDispatchInProcess">
            <div id="botones_grilla">
                <img src="img/return.png" ng-click="regresar()" class="regresarButton">
                <span ng-if="fecha_despachado">Fecha de despacho : {{fecha_despachado | date :"dd-MM-yyyy"}}</span>
                <button ng-click="despachar()" class="btn-aceptar" ng-if="!fecha_despachado">Despachar</button>
                <button ng-click="exportar_despacho()" class="btn-aceptar">Exportar</button>

            </div>
            <div id="tabla">
                <div id="gridPedidos" class="tablaListar" kendo-grid="gridPedidos" k-data-source="registrations" k-selectable="'row'" k-columns="registrationsColumns"
                    k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
                </div>
            </div>
        </section>
    </article>
</section>
<script type="text/javascript">
    $("#export").click(function (e) {
        $("#gridPedidos").data("kendoGrid").saveAsExcel();
    });

</script>