<section id="pagina">
    <header id="titulo_cabecera">
        <p>DESPACHOS</p>
    </header>
    <article id="despacho_creacion">
        <seccion ng-show="!mostrar_creacion">
            <div id="botones_grilla" style="position: relative;height: 40px;">
                <button ng-click="crearEditarDespacho('crear','')" class="btn-aceptar" ng-if="!dispatchProcessExist">Nuevo despacho</button>

                <!--<img src="img/add-button.png" width="25" alt="" style="position: absolute;right: 1em;"  ng-click="crearEditarDespacho('crear','')">-->
            </div>
            <div id="tabla">

                <div id="gridDespachos" class="tablaListar" kendo-grid="gridDespachos" k-data-source="registrationsDespachos" k-selectable="'row'"
                    k-columns="registrationsColumnsDespachos" k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false"
                    k-options="gridOptionsDespachos">
                </div>
            </div>
        </seccion>


        <section ng-show="mostrar_creacion">
            <div id="botones_grilla">
                <img src="img/return.png" ng-click="regresar()" class="regresarButton">
                <button ng-click="crear_despacho()" class="btn-aceptar" ng-if="accionCrear">Crear despacho</button>
                <button ng-click="agregarPedidosDespacho()" class="btn-aceptar" ng-if="accionEditar">Agregar Pedidos</button>
            </div>
            <div id="tabla">
                <p class="mesaje_error" ng-if="mostrar_error">Debe selecciona por lo menos un pedido</p>
                <div id="gridPedidos" class="tablaListar" kendo-grid="gridPedidos" k-data-source="registrations" k-selectable="'row'" k-columns="registrationsColumns"
                    k-sortable="false" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions">
                </div>
            </div>
        </section>

    </article>
</section>