<div class="titulo">
  <H3 >Administración de Usuarios</H3>
</div>
<ul class="cabeceraPagina">
  <li style="width:80%">
    <!--<H3 class="titulo">Administración de Usuarios</H3>-->
  </li>
  <li>

    <div class="btnAgregar">
      <button type="button" class="k-button btn-aceptar" data-toggle="modal" data-target="#popupNuevoUsuario" ng-click="ListarRoles('crear')">+</button>

    </div>

  </li>
</ul>


<div style="position:relative">
  <div kendo-tab-strip k-content-urls="[ null, null]" style="border: 0;background-color: #f0f0f0;width:90%;position: absolute;right: 0;left: 0;margin: 0 auto;">
    <!-- tab list -->
    <ul class="tablaArreglo">
      <li style="transform: skewX(-24deg)">Ver Suscripciones</li>
      <li class="k-state-active" style="transform: skewX(-24deg)">Nuevo Usuario <div style="    display: block;
    width: 123px;
    position: absolute;
    right: -12px;
    
    height: 35px;
    top: 0;
    z-index: -324;
    border-radius: 0px 3px 0px 0px;
    transform: skewX(24deg);">&nbsp</div></li>
    </ul>
    <div></div>
    <div>

      <!--  /pop up agregar usuario-->
      <!--<div class="filtrosGrilla">-->
        <!--<button id="export" class="k-button"><span class="k-icon k-i-excel"></span>Exportar a Excel</button>-->
        <!--<button ng-if="!mostrarFiltros" class="k-button" ng-click="showFiltros()">Mostrar Filtros</button>
        <button ng-if="mostrarFiltros" class="k-button" ng-click="hideFiltros()">Ocultar Filtros</button>
      </div>-->
      <div id="gridUAClienteLista" class="" kendo-grid="gridUAClienteLista" k-data-source="registrations" k-selectable="'row'"
        k-columns="registrationsColumns" k-on-change="selectedItem = data" k-auto-bind="false" k-options="gridOptions" k-filter-row="'filterRow'"></div>
    </div>
  </div>




  <div class="modal fade" id="popupNuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Nuevo Usuario</h4>
        </div>


        <div class="modal-body">

          <form class="form-horizontal" name="AgregarusuarioForm" novalidate>
            <fieldset>

              <ul class="form-group">
                <li class="formTitulo">
                  <label for="inputNombre" class="col-lg-4 control-label">Nombre:</label>
                </li>
                <li class="formControl" style="text-align: left;">
                  <input type="text" class="form-control k-textbox" name="inputNombre" id="inputNombre" placeholder="Nombre" ng-model="formData.nombres"
                    ng-class="{ 'errorBorder' : AgregarusuarioForm.inputNombre.$invalid   && submitted }" required>
                </li>
              </ul>

              <ul class="form-group">
                <li class="formTitulo">
                  <label for="inputEmail" class="col-lg-4 control-label">Correo:</label>
                </li>
                <li class="formControl" style="text-align: left;">
                  <input type="email" class="form-control k-textbox " name="inputEmail" id="inputEmail" placeholder="correo@dominio.com" ng-model="formData.correo"
                    ng-class="{ 'errorBorder' : AgregarusuarioForm.inputEmail.$invalid   && submitted }" required>
                </li>
              </ul>

              <ul class="form-group">
                <li class="formTitulo">
                  <label for="inputEmail" class="col-lg-4 control-label">Rol:</label>
                </li>
                <li class="formControl" style="text-align: left;">
                  <select id="multiselectRol" name="multiselectRol" class="comboBox" multiple ng-model="rolesUsuariosOption.rol" ng-class="{ 'errorBorder' : AgregarusuarioForm.multiselectRol.$invalid   && submitted }"
                    required>
                              <option ng-repeat = "role in ListaRoles" value="{{role._id}}">{{role.rol}}</option>           
                            </select>
                </li>
              </ul>

              <ul class="form-group">
                <li class="formTitulo">
                  <label for="inputEmail" class="col-lg-4 control-label">Suscripción:</label>
                </li>
                <li class="formControl" style="text-align: left;">
                  <select class="comboBox" ng-model="suscripcionElegida">
                            <option ng-repeat = "suscripciones in suscripciones" value="{{suscripciones.codigo_tenant}}">{{suscripciones.nombre_empresa}}</option>           
                          </select>
                </li>
              </ul>


            </fieldset>
          </form>

        </div>

        <div class="modal-footer">
          <button class="k-button btn-aceptar" ng-click="submitForm(AgregarusuarioForm.$valid,'0')">Agregar</button>
          <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>

        </div>


      </div>
    </div>
  </div>

  <div class="modal fade" id="popupEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="popupEditarUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Editar Usuario</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" name="editarUsuarioForm" novalidate>
            <fieldset>
              <div class=" datosPupap ">

                <ul class="form-group">
                  <li class="formTitulo">
                    <label for="inputNombre" class="col-lg-4 control-label">Nombre</label>
                  </li>
                  <li class="formControl" style="text-align: left;">
                    <input type="text" class="form-control k-textbox" name="nombre" id="inputNombre" placeholder="Nombre" ng-model="editData.nombres"
                      required ng-class="{ errorBorder: editarUsuarioForm.nombre.$error.required && submitted}">
                  </li>
                </ul>

                <ul class="form-group">
                  <li class="formTitulo">
                    <label for="inputEmail" class="col-lg-4 control-label">Correo</label>
                  </li>
                  <li class="formControl" style="text-align: left;">
                    <input type="email" class="form-control k-textbox" name="email" id="inputEmail" placeholder="correo@dominio.com" ng-model="editData.correo"
                      required ng-class="{ errorBorder: editarUsuarioForm.email.$error.required && submitted}">
                  </li>
                </ul>

                <ul class="form-group">
                  <li class="formTitulo">
                    <label for="inputEmail" class="col-lg-4 control-label">Rol</label>

                  </li>
                  <li class="formControl" style="text-align: left;">
                    <select id="multiselectRol" name="multiselectRol" multiple class="comboBox" ng-model="rolesUsuariosOption.rol" ng-class="{ 'errorBorder' : AgregarusuarioForm.multiselectRol.$invalid   && submitted }"
                      required>
                                  <option ng-repeat = "role in ListaRoles" value="{{role._id}}">{{role.rol}}</option>           
                                </select>
                  </li>
                </ul>

                <ul class="form-group">
                  <li class="formTitulo">
                    <label for="inputEmail" class="col-lg-4 control-label">Suscripción:</label>
                  </li>
                  <li class="formControl" style="text-align: left;">
                    <select class="comboBox" ng-model="suscripcionElegida">
                                  <option ng-repeat = "suscripciones in suscripciones" value="{{suscripciones.codigo_tenant}}">{{suscripciones.nombre_empresa}}</option>           
                               </select>
                  </li>
                </ul>

                <ul class="form-group">
                  <li class="formTitulo">
                    <label for="inputEmail" class="col-lg-4 control-label">¿Habilitado?:</label>
                  </li>
                  <li class="formControl" style="text-align: left;">
                    <input type="checkbox" ng-model="valorHabilitado">
                  </li>
                </ul>

              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="k-button btn-aceptar" ng-click="editarUsuario(editData,editarUsuarioForm.$valid)">Actualizar</button>
          <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de usuario existente Inactivo -->


  <div class="modal fade" id="popupUsuarioExistente" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <h4>El usuario ya existe pero se encuentra inhabilitado</h4>
        <p> ¿Que acción desea realizar? </p>


        <button type="button" class="k-button btn-aceptar" ng-click="submitForm(formData,'1')">Crear nuevo Usuario con los mismos datos exitentes</button>
        <button type="button" class="k-button btn-aceptar" ng-click="submitForm(formData,'2')">Reactivar usuario</button>
        <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>

      </div>
    </div>
  </div>

  <!-- Modal de usuario existente Inactivo -->

  <!-- Modal eliminar usuario -->
  <div class="modal fade" id="popupEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <h4>Eliminar Usuario</h4>
        <h5>¿Esta seguro que desea eliminar a este usuario?</h5>

        <div class="modal-footer piePuppap">
          <button type="submit" class="k-button btn-aceptar" ng-click="EliminarUsuario()">Eliminar</button>
          <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>

        </div>

      </div>
    </div>
  </div>
  <!-- Fin Modal eliminar usuario -->


  <!-- modal error -->

  <div class="modal fade" id="popupErrores" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <h4>{{errorTittle}}</h4>
        <h5>{{errorMensaje}}</h5>

        <div class="modal-footer piePuppap">

          <button ng-if='errorFuncion=="reanudarPantalla"' type="button" class="k-button btn-aceptar" ng-click="reanudarPantalla()"
            data-dismiss="modal">Aceptar</button>

          <button ng-if='errorFuncion=="cierreDeSesion"' type="button" class="k-button btn-aceptar" ng-click="cierreDeSesion()" data-dismiss="modal">Aceptar</button>

          <button ng-if='errorFuncion=="ningunaFuncion"' type="button" class="k-button btn-aceptar" data-dismiss="modal">Aceptar</button>

        </div>

      </div>
    </div>
  </div>

  <!-- Fin modal error -->
</div>