<div class="modal fade" id="popupMensajesSave" tabindex="-1" role="dialog" aria-labelledby="popupMensajesSave" aria-hidden="true">
         <div class="modal-dialog">
              
    		  <div class="modal-content popUpContent" ng-click="cerrarPupUp()">
    				
    				<div class="modal-header popUpHeader">
                          <h4 class="modal-title popUpTitle">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        <p>Sus datos fueron guardados con éxito.</p>
                      </div>
                    

              </div>                   

              
          </div>
</div>
