<div class="modal fade" id="popupMensajesUpdate" tabindex="-1" role="dialog" aria-labelledby="popupMensajesUpdate" aria-hidden="true">
         <div class="modal-dialog">
              
    		  <div class="modal-content popUpContent" ng-click="cerrarPupUp()">
    				
    				<div class="modal-header popUpHeader">
                          <h4 class="modal-title popUpTitle">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        <p>Se ha actualizado con éxito.</p>
                      </div>
                    

              </div>                   

          </div>
</div>
