<div>

  <div class="container-fluid">

    <!--  Panel de Loggeo -->


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> RECUPERAR CONTRASEÑA</h3>
      </div>

      <div class="panel-body">


        <!-- Formulario de ingreso-->

        <form class="form-horizontal" name="logginForm" novalidate>


          <fieldset>
            <div>
              <!--<img class="loggin-logo" src="img/logoEmpresa.png"/>-->
            </div>


            <div>




              <div>

                <!-- <span class="input-group-addon inicial" ng-show="logginForm.$pristine || logginForm.nuevaClave.$error.required && logginForm.usuario.$error.required"><span class="glyphicon glyphicon-modal-window"></span></span>


                                        <span class="input-group-addon error" ng-show="!logginForm.$pristine && logginForm.nuevaClave.$error.required && !logginForm.usuario.$error.required"><span class="glyphicon glyphicon-modal-window"></span></span>

                                        <span class="input-group-addon correct" ng-show="!logginForm.$pristine && !logginForm.nuevaClave.$error.required"><span class="glyphicon glyphicon-modal-window"></span></span>-->

                <input type="password" name="nuevaClave" placeholder="Ingrese nueva contraseña" class="k-textbox textLoggin" ng-model="formData.nuevaClave"
                  required required>

                <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->

              </div>
              <div>

                <!--  <span class="input-group-addon inicial" ng-show="logginForm.$pristine || logginForm.repitaNuevaClave.$error.required && logginForm.usuario.$error.required"><span class="glyphicon glyphicon-modal-window"></span></span>


                                        <span class="input-group-addon error" ng-show="!logginForm.$pristine && logginForm.repitaNuevaClave.$error.required && !logginForm.usuario.$error.required"><span class="glyphicon glyphicon-modal-window"></span></span>

                                        <span class="input-group-addon correct" ng-show="!logginForm.$pristine && !logginForm.repitaNuevaClave.$error.required"><span class="glyphicon glyphicon-modal-window"></span></span>
                                        -->
                <input type="password" name="repitaNuevaClave" placeholder="Repita nueva contraseña" class="k-textbox textLoggin" ng-model="formData.repitaNuevaClave"
                  required required>

                <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->

              </div>

              <p class="errorText">{{erroresLoggin}}</p>

            </div>
            <div>

              <div>
                <button type="submit" class="k-button btn-igresar" ng-click="cambiarClaveUsuario(formData)">Cambiar contraseña</button>
              </div>


            </div>



          </fieldset>
        </form>


        <!-- /Formulario de ingreso-->

      </div>
    </div>

    <!--  /Panel de Loggeo -->

  </div>


</div>


<!-- ****************** DIRECTIVES   ************** -->

<mensaje-Update-Data></mensaje-Update-Data>
<mensaje-error500></mensaje-error500>


<!-- ****************** fin DIRECTIVES   ************** -->