<div>

  <div class="container-fluid">

    <!--  Panel de Loggeo -->


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> INICIO DE SESIÓN </h3>
      </div>

      <div class="panel-body">


        <!-- Formulario de ingreso-->

        <form class="form-horizontal" name="logginForm" novalidate>


          <fieldset>
            <div>
              <!--<img class="loggin-logo" src="img/logoEmpresa.png"/>-->
            </div>


            <div>



              <div>
                <!--<span class="input-group-addon inicial "> 
                                        <span class="glyphicon glyphicon-user">  </span>
                                        </span>-->

                <input type="email" ng-class="{ 'errorBorder' : logginForm.usuario.$invalid && submitted}" placeholder="Usuario" name="usuario"
                  class="k-textbox textLoggin" ng-model="formData.usuario" required>
                <p ng-if="logginForm.usuario.$error.email && submitted" class="errorText">Ingrese un email válido</p>


                <!--<span ng-show="logginForm.usuario.$invalid && submitted">El campo Usuario es obligatorio</span>-->
              </div>

              <div>

                <!--<span class="input-group-addon inicial" ><span class="glyphicon glyphicon-modal-window"></span></span>-->

                <input type="password" name="password" placeholder="Contraseña" class="k-textbox textLoggin" ng-model="formData.password"
                  ng-class="{ 'errorBorder' : logginForm.password.$invalid && submitted}" required>

                <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->

              </div>

              <p class="errorText">{{erroresLoggin}}</p>

            </div>
            <div>
              <div>
                <div>
                  <button class="button btn-igresar" ng-click="submitForm(logginForm.$valid)">Ingresar</button>
                </div>

                <div class="contOlvidePass">
                  <label> <a href="#/recuperarClave">Olvidé mi contraseña</a> </label>
                </div>

              </div>
            </div>



          </fieldset>
        </form>


        <!-- /Formulario de ingreso-->

      </div>
    </div>

    <!--  /Panel de Loggeo -->

  </div>


</div>

<div class="modal fade" id="popupDatosIncorrectos" tabindex="-1" role="dialog" aria-labelledby="popupDatosIncorrectos" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content popUpContent" ng-click="cerrarPupUp()">

      <div class="modal-header popUpHeader">
        <h4 class="modal-title popUpTitle">Mensaje</h4>
      </div>
      <div class="modal-body">
        <p>{{mesajeError}}</p>
      </div>


    </div>
  </div>
</div>

<!--<pwd-incorrecto></pwd-incorrecto>-->
<mensaje-error500></mensaje-error500>